<a class="btn btn-danger" href="/Student/Index">See All Students</a>
<br />
<br />
<a class="btn btn-danger" href="/Student/Add">ADD Students</a>
<br />
<br />
<a class="btn btn-danger" href="/Department/Index">See All Departments</a>
<br />
<br />
<a class="btn btn-danger" href="/Department/Add">ADD Department</a>

